@logo: url('../assets/Logo.svg');

@search-icon: url('../assets/images/PLANTEL_buscar.svg');
@check-icon: url('../assets/images/PLANTEL_check.svg');
@apt-icon: url('../assets/images/PLANTEL_noApto.svg');
@non-apt-icon: url('../assets/images/PLANTEL_noApto.svg');